/* apps/frontend/src/App.css */
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* On s'assure que le body ne bloque rien */
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Empêche le scroll bizarre sur les bords */
}